{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Index Page</h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  </style>
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <h3>Degala Sai Charan</h3>
  <img style="background-color:Yellow;" class="img-circle" alt="" width="350" height="350">
  <h3>About Pyhton/Flask and Docker </h3>
</div>


            <code><pre>$ docker build -t  .</pre></code>
            <ul>
                <li>the -t flag tags our image.</li>
            </ul>
        <li>
            To start a new container,
            <code><pre>$ docker run -dp 3000:3000 docker_flask_2</pre></code>
        </li>
        <li>
            Use the docker stop command to stop the container.
            <code><pre>$ docker stop [the-container-id]</pre></code>
        </li>
        <li>
            Once the container has stopped, you can remove it by using the "docker rm" command.
            <code><pre>$docker rm [the-container-id]</pre></code>

        </li>
        <li>
            If you want to kill a container, run:
            <code><pre>$ docker kill [ContainerID]</pre></code>
        </li>
        <li>
            You can kill multiple containers like this:
            <code><pre>$ docker kill [ContainerID] [ContainerID] [ContainerID]</pre></code>
        </li>
    </ol>

    </p>
</div>

</body>
</html>
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>