{% extends "base.html" %}
{% block content %}
    <div style="background-color:#d900ff;" class="row">
        <article style="background-color:#11ff00;" class="col-12">
            <h1 style="background-color:Pink;" >Welcome</h1>
            <pre style="background-color:Yellow;">Share your tracks anywhere on the web
Use the embed player and audio cards to share your tracks wherever your audience is: from music blogs to your Twitter stream.

Get to know and connect with your audience
Measure your progress with stats and interact with your fans directly via comments and messages.

Take creator tools with you anytime and anywhere
Whether you are in the studio, at home or on a tour bus, keep your community humming with our mobile app for creators.


</pre>
        </article>
    </div>
{% endblock %}
</article>